
* {
    margin: auto;
    font-family: "Viga", sans-serif;
}

.viga-regular {
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#contenido {
    width: 50%;
    background-color: #ffffff;
    margin-bottom: 101px;
}

header {
    padding-top: 20%;
}

header {
  text-align: center;

  padding: 40px 0px 40px 0px;
  border-radius: 10px 10px 0px 0px;
  margin-top: 8%;
}

header>img {
  width: 20%;
}

header>h1 {
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: #ff8300;
}

header>h1>span {
  color: #3d3d3d;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

#tabla {
    border-collapse: collapse;
    width: 100%;
  }
  
  #tabla td {
    border: 1px solid #eeeeee;
    padding: 8px;
    height: 10%;
  }
  
  #tabla tr:nth-child(even){background-color: #ffffff;}
  
  #btn1 {
    text-align: center;
    width: 30%;
  }

  input {
    background-color: #00c853;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 40px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    cursor: pointer;
  }

  input:hover {
    background-color: #0000a0;
    color: white;
    transition: 1s;
  }
  
  div>h2{
    background: rgb(5,2,57);
    background: linear-gradient(90deg, rgba(5,2,57,1) 0%, rgba(0,0,160,1) 35%, rgba(0,212,255,1) 100%);
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    padding: 10px 0px 10px 0px;
    border-radius: 20px 20px 0px 0px;
  }

  #ttable {
    background-color: #00c853;
  }

  #desc1 {
    font-size: 19px;
    font-weight: 800;
    text-align: center;
  }
  
  #desc2 {
    font-size: 17px;
    max-width:50%;
    width:50%;
    text-align: center;
  }

  #desc3 {
    font-size: 17px;
    max-width:50%;
    width:50%;
    text-align: center;
  }

  #week {
    text-align: center;
  }

  #thead {
    background-color: #ff8300;
    text-align: center;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
  }

  footer {
    background-color: #1f2024;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 20px 0px 20px 0px;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #grado {
    color: #ffffff;
    text-transform: uppercase;
    background: #ff8300;
    display: inline-block;
    padding: 0px 10px 0px 10px;
    border-radius: 20px 0px 20px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  @media only screen and (max-width: 1350px) {

    #contenido {
      width: 70%;
    }
  }

  @media only screen and (max-width: 1100px) {
    
    #contenido {
      width: 90%;
    }
  }

  @media only screen and (max-width: 800px) {

    #contenido {
      width: 90%;
    }

    header {
      padding: 20px 0px 20px 0px;
    }

    header>img {
      width: 45%;
    }
    
    header>h1 {
      font-size: 24px;
    }
    
    header>h1>span {
      font-size: 24px;
    }

    div>h2{
      font-size: 20px;
      padding: 10px 0px 10px 0px;
    }

    input {
      padding: 12px 10px;
    }

  }